<template>
  <div id="app">
    <div class="wrapper">
      <div class="wrapper_in">
        <div class="text">
          <p class="text_title">on the other<br>hand, we<br>denounce</p>
          <p class="text_main">on the other hand, we denounce<br>with righteous indignation and<br> dislike</p>
          <div class="text_items">
            <p class="text_item">On the other hand, we denounce with righteous</p>
            <p class="text_item">I will give you a complete account of the system</p>
            <p class="text_item">Both contained the variant</p>
            <p class="text_item">More approvals with transaction cascading</p>
            <p class="text_item">Ihe toppings you may chose for that TV dinner pizza</p>
            <p class="text_item">You made all the required mock</p>
          </div>
        </div>
        <form class="form" @submit.prevent="onSubmit">
          <div class="form_item">
            <div class="form_item_in" :class="{invalid: $v.name.$error}">
              <label>
                  <span>First Name*</span>
                  <input
                    type="text"
                    name="first_name"
                    @blur="$v.name.$touch()"
                    v-model.trim="name"
                  >
              </label>
            </div>
            <div class="form_item_in" :class="{invalid: $v.email.$error}">
              <label>
                  <span>Email*</span>
                  <input
                    name="email"
                    @blur="$v.email.$touch()"
                    v-model.trim="email"
                  >
              </label>
              <small v-if="!$v.email.email" class="error_email">Enter a valid email address</small>
            </div>
          </div>

          <div class="form_item">
            <div class="form_item_in" :class="{invalid: $v.website.$error}">
              <label>
                  <span>Your Website URL*</span>
                  <input
                    type="url"
                    name="url"
                    @blur="$v.website.$touch()"
                    v-model.trim="website"
                  >
              </label>
            </div>
            <div class="form_item_in">
              <label>
                  <span>Skype</span>
                  <input type="text" name="skype">
              </label>
            </div>
          </div>

          <div class="form_item">
            <div class="form_item_in">
              <label>
                  <span>Phone number</span>
                  <input type="tel" name="phone">
              </label>
            </div>
            <div class="form_item_in">
              <label>
                  <span>Estimated Volume</span>
                  <input type="text" name="volume">
              </label>
            </div>
          </div>

          <div class="form_item_text">
            <label>
              <span>Comments</span>
              <textarea></textarea>
            </label>
          </div>

          <div class="form_text_button">
            <p class="form_text">* required fields</p>
            <button
              class="form_btn"
              type="submit"
            >get started</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators'

export default {
  name: 'start',
  data: () => ({
    name: '',
    email: '',
    website: ''
  }),
  validations: {
    name: { required },
    email: { email, required },
    website: { required }
  },
  methods: {
    onSubmit () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      alert('Start')
    }
  }
}
</script>

<style lang="sass">
@media all and (max-width: 800px)
  .wrapper
    width: 100%
  .wrapper_in
    flex-wrap: wrap
@media all and (width: 500px)
  .text
    width: 100%
  .form
    width: 100%
  .wrapper_in
    flex-wrap: wrap
.wrapper
  max-width: 1400px
  height: 760px
  display: flex
  align-items: center
  justify-content: center
  background-color: #FFFFFF
.wrapper_in
  width: 900px
  height: 380px
  display: flex
  flex-direction: row
  justify-content: space-around
  background-color: #FFFFFF
  align-items: center
.text
  width: 360px
  display: flex
  flex-direction: column
  align-itmes: center
.text_title
  font-size: 30px
  color: black
  text-transform: uppercase
  font-weight: bold
  margin: 10px 0
.text_main
  font-size: 14px
  color: #AD8B4E
  text-transform: uppercase
  font-weight: bold
  margin: 10px 0
  line-height: 1.5
.text_item
  font-size: 14px
  color: black
  margin: 5px 0
.text_item::before
    content: ""
    display: inline-block
    width: 6px
    height: 6px
    background: #AD8B4E
    border-radius: 50%
    vertical-align: middle
    margin-right: 12px
// ------------------------------------------------------
.form
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  height: 380px
  width: 360px
.form_item
  display: flex
  flex-direction: row
  align-item: center
  justify-content: space-between
  width: 100%
  margin: 5px 0
.form_item_in
  display: flex
  flex-direction: column
  width: 47%
label
  display: flex
  flex-direction: column
  margin: 5px 0
.form_item_text
  width: 100%
input
  height: 30px
  border: 1px solid #AD8B4E
  padding-left: 10px
.form_item_in.invalid label
  color: red
.form_item_in.invalid input
  border: 1px solid red
  background-color: #ffc9aa
span
  font-size: 12px
textarea
  height: 70px
  resize: none
  border: 1px solid #AD8B4E
.form_text_button
  display: flex
  flex-direction: column
  justify-content: flex-end
  position: absolute
  right: 0px
  bottom: 0px
.form_text
  font-size: 10px
  margin: 5px 0
  text-align: right
.form_btn
  background-color: #AD8B4E
  width: 130px
  height: 40px
  border: none
  font-size: 14px
  text-transform: uppercase
  color: white
.form_btn:hover
  background-color: #3BB223
.error_email
  color: red
</style>
